# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de entorno
.env

# Ignorar archivos de log
*.log

# Ignorar archivos de compilación
dist/
build/

# Ignorar archivos específicos
*.DS_Store
